* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Jetbrains Mono;
    font-size: 12pt;
}

window#waybar {
    background-color: rgba(39,46,51,0.83);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #D3C6AA;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.5;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #493b40;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #D3C6AA;
}

#workspaces button:hover {
    background: rgba(30, 35, 38, 0.2);
}

#workspaces button.focused {
    background-color: #493b40;
    box-shadow: inset 0 -3px #3c4841;
}

#workspaces button.urgent {
    background-color: #4c3743;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#pulseaudio,
#wireplumber,
#tray,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tray {
    margin-right: 10px;
}

#clock {
}

label:focus {
}
#pulseaudio {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {

}
#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #4c3743;
}



